<section>
								<ul class="posts">
									<li>
										<article>
											<header class="left_sidebar">
                                                <h3><a href="/services.html">Market Analysis</a></h3>
											</header>
                                            <a href="/services.html" class="image sidebar"><span class="icon featured_small fa-line-chart"></span></a>
										</article>
									</li>
									<li>
										<article>
											<header class="left_sidebar">
												<h3><a href="/services.html">Marketing</a></h3>
											</header>
											 <a href="/services.html" class="image sidebar"><span class="icon featured_small fa-bullhorn"></span></a>
										</article>
									</li>
									<li>
										<article>
											<header class="left_sidebar">
												<h3><a href="/services.html">Showing Service</a></h3>
											</header>
											 <a href="/services.html" class="image sidebar"><span class="icon featured_small fa-flag"></span></a>
										</article>
									</li>
                                    <li>
										<article>
											<header class="left_sidebar">
												<h3><a href="/services.html">Negotiation</a></h3>
											</header>
											 <a href="/services.html" class="image sidebar"><span class="icon featured_small fa-exchange"></span></a>
										</article>
									</li>
                                    <li>
										<article>
											<header class="left_sidebar">
												<h3><a href="/services.html">Contract Execution</a></h3>
											</header>
											 <a href="/services.html" class="image sidebar"><span class="icon featured_small fa-suitcase"></span></a>
										</article>
									</li>
                                    <li>
										<article>
											<header class="left_sidebar">
												<h3><a href="/services.html">Help Arranging Financing</a></h3>
											</header>
											 <a href="/services.html" class="image sidebar"><span class="icon featured_small fa-bank"></span></a>
										</article>
									</li>
                                    <li>
										<article>
											<header class="left_sidebar">
												<h3><a href="/services.html">Remodeling Consulting</a></h3>
											</header>
											 <a href="/services.html" class="image sidebar"><span class="icon featured_small fa-wrench"></span></a>
										</article>
									</li>
								</ul>
							</section>


						<section class="blurb">
								<h2>About</h2>
								<p>I was born and raised in the Madison area and have deep multifaceted knowledge of the local real estate market.  My diverse background includes experience in the sale and acquisition of residential and commercial property, real estate finance, foreclosure and short sales, renovation,  real estate development, investment analysis, and construction management .   I take great pride in helping my clients achieve their goals weather it be finding the home of their dreams, selling their existing property for top dollar, or assisting them in meeting their investment objectives.  Put my broad experience to work for you, I would be honored for the opportunity to earn your business. </p>
								<ul class="actions">
									<li><a href="/about.html" class="button">Learn More</a></li>
								</ul>
							</section>
