#map_sidebar {
    height: 300px;
    width: 100%;
}
#map_main {
    height: 400px;
    width: 100%;
}

.highlight {
    color:#ffdd17;
}
.blue {
    color:#3a3a6b;
}
.property_desc {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 2.5;
    margin-top: -1em;
    text-transform: none;
}
.icon_desc {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 0.15em;
}
.prop_summary {
    display: block;
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin:-1.625em 0 1.7em 0 !important;
}
.summary_list {
    padding-top: 1em !important;
    text-align: .75em;
}
.summary_list li p {
    border-bottom: solid 1px rgba(160, 160, 160, 0.2); 
}
/* Banner - FORTY*/

	#banner {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		background-image: url("../../images/CapV3_1600x815.jpg");
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		padding: 6em 0 2em 0 ;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 0 !important;
		cursor: default;
		height: 60vh;
		margin-bottom: -3.25em;
		max-height: 32em;
		min-height: 22em;
		position: relative;
		top: -3.25em;
	}

		#banner:after {
			-moz-transition: opacity 2.5s ease;
			-webkit-transition: opacity 2.5s ease;
			-ms-transition: opacity 2.5s ease;
			transition: opacity 2.5s ease;
			-moz-transition-delay: 0.75s;
			-webkit-transition-delay: 0.75s;
			-ms-transition-delay: 0.75s;
			transition-delay: 0.75s;
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			background-color: #353553;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.05;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		#banner h1 {
			font-size: 3.25em;
            color: #353553;
		    font-family: "Times", Times New Roman, serif;
		}
		#banner h3 {
            color: #fff;
		}

#banner .button{
    color: #353553 !important;
    background: #fff;
}
		#banner > .inner {
			-moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
			-webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
			-ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
			transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
			padding: 0 !important;
			position: relative;
			z-index: 2;
		}

			#banner > .inner .image {
				display: none;
			}

			#banner > .inner header {
				width: auto;
			}

				#banner > .inner header > :first-child {
					width: auto;
				}

					#banner > .inner header > :first-child:after {
						max-width: 100%;
					}

			#banner > .inner .content {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				margin: 0 0 2em 0;
			}

				#banner > .inner .content > * {
					margin-left: 1.5em;
					margin-bottom: 0;
				}

				#banner > .inner .content > :first-child {
					margin-left: 0;
				}

				#banner > .inner .content p {
					font-size: 0.7em;
					font-weight: 600;
					letter-spacing: 0.25em;
					text-transform: uppercase;
				}

		#banner.major {
			height: 75vh;
			min-height: 30em;
			max-height: 50em;
            color: #fff;
		}

			#banner.major.alt {
				opacity: 0.75;
			}

		#banner.style1:after {
			background-color: #6fc3df;
		}

		#banner.style2:after {
			background-color: #8d82c4;
		}

		#banner.style3:after {
			background-color: #ec8d81;
		}

		#banner.style4:after {
			background-color: #e7b788;
		}

		#banner.style5:after {
			background-color: #8ea9e8;
		}

		#banner.style6:after {
			background-color: #87c5a4;
		}

		body.is-loading #banner:after {
			opacity: 1.0;
		}

		body.is-loading #banner > .inner {
			-moz-filter: blur(0.125em);
			-webkit-filter: blur(0.125em);
			-ms-filter: blur(0.125em);
			filter: blur(0.125em);
			-moz-transform: translateX(-0.5em);
			-webkit-transform: translateX(-0.5em);
			-ms-transform: translateX(-0.5em);
			transform: translateX(-0.5em);
			opacity: 0;
		}

		@media screen and (max-width: 1280px) {

			#banner {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 5em 0 1em 0 ;
				height: auto;
				margin-bottom: -2.75em;
				max-height: none;
				min-height: 0;
				top: -2.75em;
			}

				#banner h1 {
					font-size: 2em;
				}

				#banner > .inner .content {
					display: block;
				}

					#banner > .inner .content > * {
						margin-left: 0;
						margin-bottom: 2em;
					}

				#banner.major {
					height: auto;
					min-height: 0;
					max-height: none;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 6em 0 2em 0 ;
			}

				#banner > .inner .content p br {
					display: none;
				}

				#banner.major {
					padding: 8em 0 4em 0 ;
				}

		}

/* Contact */

	#contact {
		border-bottom: solid 1px rgba(212, 212, 255, 0.1);
		overflow-x: hidden;
	}

		#contact > .inner {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			padding: 0 !important;
		}

			#contact > .inner > :nth-child(2n - 1) {
				padding: 4em 3em 2em 0 ;
				border-right: solid 1px rgba(212, 212, 255, 0.1);
				width: 60%;
			}

			#contact > .inner > :nth-child(2n) {
				padding-left: 3em;
				width: 40%;
			}

			#contact > .inner > .split {
				padding: 0;
			}

				#contact > .inner > .split > * {
					padding: 3em 0 1em 3em ;
					position: relative;
				}

					#contact > .inner > .split > *:before {
						border-top: solid 1px rgba(212, 212, 255, 0.1);
						content: '';
						display: block;
						margin-left: -3em;
						position: absolute;
						top: 0;
						width: calc(100vw + 3em);
					}

				#contact > .inner > .split > :first-child:before {
					display: none;
				}

		@media screen and (max-width: 980px) {

			#contact > .inner {
				display: block;
			}

				#contact > .inner > :nth-child(2n - 1) {
					padding: 4em 0 2em 0 ;
					border-right: 0;
					width: 100%;
				}

				#contact > .inner > :nth-child(2n) {
					padding-left: 0;
					width: 100%;
				}

				#contact > .inner > .split > * {
					padding: 3em 0 1em 0 ;
				}

				#contact > .inner > .split > :first-child:before {
					display: block;
				}

		}

		@media screen and (max-width: 736px) {

			#contact > .inner > :nth-child(2n - 1) {
				padding: 3em 0 1em 0 ;
			}

		}
.icon.featured2 {
    opacity: 0.65;
}

.icon.featured3:before {
				font-size: 5em;
				line-height: 1em;
			}

.icon.featured3 {
			cursor: hand;
			display: block;
			opacity: 0.8;
			text-align: center;
		}
.icon.featured_small:before {
				font-size: 2em;
				line-height: 0em;
			}

.icon.featured_small {
			cursor: hand;
			display: block;
			opacity: 0.8;
			text-align: center;
		}
a.image.sidebar {
    color: #3a3a6b;
}

/* HWrapper */

	#Hwrapper {
		-moz-transition: -moz-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
		-webkit-transition: -webkit-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
		-ms-transition: -ms-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
		transition: filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
		padding-top: 3.25em;
	}

		#Hwrapper.is-transitioning {
			opacity: 0;
		}

		#Hwrapper > * > .inner {
			padding: 4em 0 2em 0 ;
			margin: 0 auto;
			max-width: 65em;
			width: calc(100% - 6em);
		}

			@media screen and (max-width: 736px) {

				#Hwrapper > * > .inner {
					padding: 3em 0 1em 0 ;
					width: calc(100% - 3em);
				}

			}

		@media screen and (max-width: 736px) {

			#Hwrapper {
				padding-top: 2.75em;
			}

		}

header.major {
		padding-bottom: 0em;
	}

	header.special {
		margin-bottom: 5em;
		padding-top: 7em;
		position: relative;
		text-align: center;
	}

		header.special:before, header.special:after {
			border-bottom: solid 1.5px;
			border-top: solid 1.5px;
			content: '';
			height: 7px;
			opacity: 0.1;
			position: absolute;
			top: 1.75em;
			width: 43%;
		}

		header.special:before {
			left: 0;
		}

		header.special:after {
			right: 0;
		}

		header.special h2 {
			margin-bottom: 0;
		}

		header.special h2 + p {
			margin-bottom: 0;
			padding-top: 1.5em;
		}

		header.special .icon {
			cursor: default;
			height: 7em;
			left: 0;
			position: absolute;
			text-align: center;
			top: 1em;
			width: 100%;
		}

			header.special .icon:before {
				font-size: 3.5em;
				opacity: 0.35;
			}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}

.icon.circle {
			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			border: 0;
			border-radius: 100%;
			display: inline-block;
			font-size: 1.25em;
			height: 2.25em;
			left: 0;
			line-height: 2.25em;
			text-align: center;
			text-decoration: none;
			top: 0;
			width: 2.25em;
		}

			.icon.circle:hover {
				top: -0.2em;
			}

			.icon.circle.fa-twitter {
				background: #70aecd;
				color: #fff;
			}

				.icon.circle.fa-twitter:hover {
					background: #7fb7d2;
				}

			.icon.circle.fa-facebook {
				background: #7490c3;
				color: #fff;
			}

				.icon.circle.fa-facebook:hover {
					background: #829bc9;
				}

			.icon.circle.fa-google-plus {
				background: #db6b67;
				color: #fff;
			}

				.icon.circle.fa-google-plus:hover {
					background: #df7b77;
				}

			.icon.circle.fa-github {
				background: #dcad8b;
				color: #fff;
			}

				.icon.circle.fa-github:hover {
					background: #e1b89b;
				}

			.icon.circle.fa-dribbble {
				background: #da83ae;
				color: #fff;
			}

				.icon.circle.fa-dribbble:hover {
					background: #df93b8;
				}

		.icon.featured {
			cursor: default;
			display: block;
			margin: 0 0 1.5em 0;
			opacity: 0.35;
			text-align: center;
		}

			.icon.featured:before {
				font-size: 5em;
				line-height: 1em;
			}

.left_sidebar {
    padding-left: 1em;
}
.map_padding {
    padding-bottom: 3em;
}

.home_feature {
		padding: 3em 6em 1em 6em ;
	/*	border: solid 1px rgba(160, 160, 160, 0.3); */
		margin: 0 0 3em 0;
		position: relative;
	}
.tag img{
    height:6em;
}
.spacer {
    margin-top: 5em;
}
.spacer_bottom {
    margin-bottom: 5em;
}
.contact_about {
    border-top: solid 1px rgba(160, 160, 160, 0.3);
}
.center {
    text-align: center;
}
.bottom_padding {
		margin-bottom: -1em !important;
	}
/* CTA */

	#cta {
		background-attachment: scroll, scroll, scroll, fixed;
		background-color: #353553;
		background-image: url("images/light-tl.svg"), url("images/light-tr.svg"), url("images/overlay.png"), url("../../images/CapV3_1600x815.jpg");
		background-position: top left, top right, top left, bottom center;
		background-repeat: no-repeat, no-repeat, repeat, no-repeat;
		background-size: 25em, 25em, auto, cover;
		color: #fff;
		padding: 5em;
		text-align: center;
	}

		#cta header {
			margin-bottom: 2em;
		}
.framed {
    padding: .25em;
    border: 1.5px solid rgba(160, 160, 160, 0.2);
    background: rgba(160, 160, 160, 0.1);

}
.inline_highlight{
    background-color: #fff7A8;
}
header.special_local:before, header.special_local:after {
			border-bottom: solid 1.5px;
			border-top: solid 1.5px;
			content: '';
			height: 7px;
			opacity: 0.1;
			position: absolute;
			top: 4.75em;
			width: 38%;
		}
	header.special_local {
		margin-bottom: 2em;
		padding-top: 0em;
		position: relative;
		text-align: center;
	}
	section.special_local, article.special_local {
		text-align: center;
	}
		header.special_local:after {
			right: 0;
		}
		header.special_local:before {
			left: 0;
		}