<!DOCTYPE HTML>
<html>
	<head>
		<title>Free Agent Realty - {{ page.title }} </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ site.baseurl }} /assets/css/main.css" />
        <link rel="stylesheet" href="{{ site.baseurl }} /uiKit/uikit.css" />
        <link rel="stylesheet" href="{{ site.baseurl }} /uiKit/slidenav.css" />
        <link rel="stylesheet" href="{{ site.baseurl }} /assets/css/custom.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				
				<!-- Header -->
					<header id="header">
                        <h1><a href="{{ site.baseurl }}/index.html">FreeAgentRealty.com</a></h1>
						<nav class="links">
							<ul>
								<li><a href="{{ site.baseurl }} /how_we_work.html">How We Work</a></li>
								<li><a href="{{ site.baseurl }} /property_listings.html">Properties</a></li>
								<li><a href="{{ site.baseurl }} /services.html">Listing Services</a></li>
								<li><a href="{{ site.baseurl }} /about.html">About Us</a></li>
								<li><a href="{{ site.baseurl }} /contact.html">Contact</a></li>
                                <li><a href="{{ site.baseurl }} /reviews.html">Reviews</a></li>
							</ul>
						</nav>
                        <nav class="main">
							<ul>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>
				<!-- Menu -->
					<section id="menu">

						<!-- Search 
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section> -->

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{{ site.baseurl }} /how_we_work.html">
											<h3>How We Work</h3>
											
										</a>
									</li>
									<li>
										<a href="{{ site.baseurl }} /property_listings.html">
											<h3>Properties</h3>
											
										</a>
									</li>
									<li>
										<a href="{{ site.baseurl }} /services.html">
											<h3>Listing Services</h3>
											
										</a>
									</li>
									<li>
										<a href="{{ site.baseurl }} /about.html">
											<h3>About Us</h3>
											
										</a>
									</li>
                                    <li>
										<a href="{{ site.baseurl }} /contact.html">
											<h3>Contact Us</h3>
											
										</a>
									</li>
                                    <li>
										<a href="{{ site.baseurl }} /reviews.html">
											<h3>Reviews</h3>
											
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions LogIn 
							<section>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Log In</a></li>
								</ul>
							</section>-->

					</section>
{{ content }}
        
        </div>

		<!-- Scripts -->
			<script src="{{ site.baseurl }} /assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }} /assets/js/skel.min.js"></script>
			<script src="{{ site.baseurl }} /assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ site.baseurl }} /assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="{{ site.baseurl }} /assets/js/main.js"></script>
        <script src="{{ site.baseurl }} /uiKit/uikit.min.js"></script>
        <script src="{{ site.baseurl }} /uiKit/lightbox.js"></script>
        <script src="{{ site.baseurl }} /assets/js/maps.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWc0kltUnm-lTloUNFvcnNdfBbg8HWqoY"></script>
	</body>
</html>
