---
layout: default
sidebar: sidebar_default.html
---

				<!-- Main -->
					<div id="main">

						
							<!-- Post -->
            <article class="post">
                        <header>
									<div class="title">
										<h2><a href="#">{{ page.title }}</a></h2>
										<p>The Free Agent Realty Difference</p>
									</div>
									<div class="meta">
										<h4>share</h4>
											<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffreeagentrealty.com&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ffreeagentrealty.com&text=:%20http%3A%2F%2Ffreeagentrealty.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Ffreeagentrealty.com" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i><span class="sr-only">Share on Google+</span></a></li>
  <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Ffreeagentrealty.com&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-pinterest-square fa-lg" aria-hidden="true"></i><span class="sr-only">Pin it</span></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ffreeagentrealty.com&title=&summary=&source=http%3A%2F%2Ffreeagentrealty.com" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i><span class="sr-only">Share on LinkedIn</span></a></li>
  <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Ffreeagentrealty.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-lg" aria-hidden="true"></i><span class="sr-only">Send email</span></a></li>
</ul>
									</div>
								</header>
                {{ content }}
                </article>
						

					</div>
				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="{{ site.baseurl }}/index.html" class="logo_circle"><img src="images/Logo_blue.png" alt="" /></a>
								<header>
									<h2>Free Agent Realty</h2>
									<p>The best deal in real estate</p>
								</header>
							</section>
                    
              <!-- left sidebar -->
                        {% if page.sidebar %}
                        {% include {{ page.sidebar }} %}
                        {% endif %}
                					<!-- Footer -->
							<section id="footer">
								<p class="copyright">&copy; Free Agent Realty</p>
							</section>

					</section>

